
.montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

.ubuntu-light {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.ubuntu-regular {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.ubuntu-medium {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.ubuntu-bold {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu-light-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.ubuntu-regular-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.ubuntu-medium-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.ubuntu-bold-italic {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: italic;
}


#title {
  background-color:aquamarine;
}

p {
  color:rgb(0, 0, 0)
}

#features {
  background-color: #defcff;
  padding: 5%; 
  text-align: center;
  position: relative;
  
  z-index: 2;}


.icon:hover{
  color:#b3b2ff;
}

.title-image{
  width: 60%;
  transform: rotate(20deg);
  position: absolute;
}

.feature-box{
  text-align: center;
  padding: 5%;
}

.icon{
  color: rgb(0, 199, 133);
  margin-bottom: 1rem;
}

h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 3rem;
  line-height: 1.5;

}
.container{
  padding:3% ;
}
.container-fluid{
  padding: 3%, 15%;
}

.navigation-bar{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
}

.nav-item{
  padding: 8%;
}

.title-padding{
  padding-bottom: 20%;
}

.download-button{
  margin: 1.5%;
}
.download-button:hover{
  color:#7297b7;
}

#testimonials{
  padding:-10% 15%;
  text-align: center;
  background-color:aquamarine;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 1.5;
}

.testimonial-image{
  width: 100px;          
  height: 100px; 
  border-radius: 50%;
  margin: 10%;
  position: center;
}

#press{
  text-align: center;
  background-color: aquamarine;
}

p{
  font-family: 'Montserrat', sans-serif;
  font-style: thin;
}

.press-logo{
  width:10%;
  margin:20px 20px 50px;

}

.carousel-item{
  height: 500px;

}

.carousel-item{
  padding: 7% 15%;
}

em{
  font-family: 'Montserrat', sans-serif;
  font-style: thin;
  font-style:italic;
}

.card-body {
  padding: 2rem;
}

.pricing{
  background-color:#defcff;
}

.card-header-style{
  background-color: aquamarine;
}

@media (max-width: 1028px){
  #title{
    text-align: center;
  }
  .title-image{
    position: static;
    transform: rotate(0);
  }
}
html {
  scroll-behavior: smooth;
}

#cta{
  background-color: aquamarine;
  padding: 7% 15%;
  text-align:center;
}

.cta-heading {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 3.5rem;
  line-height: 1.5;
}

#footer{
  padding:7% 15%;
  text-align:center;
}